
# Node
node_modules/
package-lock.json
babel.config.js

# Yarn
.cache/

# Expo
.expo/
.expo-shared/

# Strapi
dist/
.editorconfig
.env
.env.example
.strapi-updater.json
ecosystem.config.js

# macOS
.DS_Store
