
# Node
node_modules/
dist/
build/
package-lock.json

# Yarn
.cache/

# Expo
.expo/
.expo-shared/

# Strapi
.editorconfig
.env
.env.example
.strapi-updater.json
ecosystem.config.js

# macOS
.DS_Store
