:root {
  --clr-neutral-900: hsl(212, 13%, 20%);
  --clr-neutral-800: hsl(240, 1%, 17%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(261, 66%, 52%);
}

/* Page-wide */
html * {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: var(--clr-neutral-100);
}

.list-group-horizontal > .list-group-item {
  border: none;
}

/* Navbar */
.navbar {
  background-color: var(--clr-neutral-800);
  margin-bottom: 20px;
}

.navbar-brand {
  color: var(--clr-neutral-100);
}

.navbar-brand:hover {
  color: var(--clr-neutral-100);
}

/* Cards */
.card {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-800);
  max-width: 50ch;
  transition: transform 500ms ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.card-img-top {
  width: 100%;
  height: 16em;
  /*object-fit: cover;*/
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
}

/* Current bid and time left table */
.table {
  color: var(--clr-neutral-800);
  margin-bottom: 0;
}

/* Card button container and child buttons  */
.buttons {
  display: flex;
}

.btn-primary {
  background-color: var(--clr-accent-400);
  border-radius: 5px;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

.btn-secondary {
  background-color: grey;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}

/* Modals */
#info-modal-img {
  width: 100%;
}

/* Sign up button */
.signup-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

/* Bootstrap overrides */
.form-control:focus {
  border-color: #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  color: white;
  text-align: center;
}