<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Marketplace</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__logo">JustBe Marketplace</div>
    </header>

    <div class="wrapper">
        <div class="market__single">
            <div class="cardcontent">
                <div class="market__single__card">
            <% if(info != null) {%>
                <h2><%- info.text %></h2>
                <p>Fact ID: <%- info._id %></p>
            <%  } else { %>
                No information available.
            <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>